<div ng-controller="adminMovieSearchController">

<div class="col-md-12"  style="padding-top:60px">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<table st-safe-src="queue.transactions" st-table="emptyArray" class="table table-striped" >
			<thead>
			<tr >
				<th >Movie Name</th>
				<th >Category</th>
				<th >Movie Description</th>
				<th >Action</th>
				<!-- <th>email</th> -->
			</tr>
			</thead>
			<tbody ng-hide="isLoading">
			
			<!-- <tr ng-repeat="row in emptyArray track by $index">
				<td>{{row.location_name + "," + row.city + "," + row.state + "," + row.zipcode}}</td>
				<td>{{row.from_hour + ":00 - " + row.to_hour + ":00"}}</td>
				<td>{{row.bikename+" - " +row.biketype}}</td>
				<td>{{row.date_of_booking | date}}</td>
				<td>
				<button class="btn btn-default bookingdetails_cancelbookingButton" ng-click="cancelBooking(row.transaction_id)" ng-show="row.active_booking && row.booking_status=='RESERVED'"><span style="color:blue">Cancel Booking</span></button>
				<button class="btn btn-default bookingdetails_cancelbookingButton" ng-click="cancelBooking(row.transaction_id)" ng-show="row.booking_status=='CANCELLED'" disabled><span style="color:red">Cancelled</span></button>
				<button class="btn btn-default bookingdetails_cancelbookingButton" ng-click="cancelBooking(row.transaction_id)" ng-show="row.booking_status=='RESERVED' && !row.active_booking" disabled><span style="color:green">Completed</span></button>
				</td>
				<td><a ng-href="mailto:{{row.email}}">email</a></td>
			</tr> -->
				<tr ng-repeat="row in emptyArray track by $index">
					<td style="width:30%;">{{row.moviename}}</td>
					<td style="width:10%;">{{row.categoryid.categoryname}}</td>
					<td style="width:60%;">{{row.description}}</td>
					<td style="width:10px;">
					<div style="padding-top:1px;padding-bottom:1px">
						<button class="btn btn-default" ng-click="deleteMovie(row.movieid)"><span style="color:red">Delete</span></button>
					</div style="padding-top:1px;padding-bottom:1px">
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" class="text-center">
						<div st-pagination="" st-items-by-page="itemsByPage" ></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="col-md-2">
	</div>
</div>

</div>

<div style="padding-top: 50px;" ng-include src="'footer.html'"></div>