
<div ng-controller="homeUserController">

	<div style="padding-top:70px;">
		<div class="col-md-12 col-md-push-3">
				<div class="col-md-3">
				</div>
				<div class="col-md-8">
					<div class="col-md-4">
						<input type="Search" class="form-control" placeholder="Search" 
						ng-model="serach" name="search_text" size="50" ng-model="search_text" required>
					</div>
					<div class="col-md-1">
						<label for="serachCriteria"> By </label> 
					</div>
					<div class="col-md-4">
						<select
							id="serachCriteria" class="form-control" data-role="listview"
							ng-model="serachCriteria" ng-change="">
							<option value="">Select Search Criteria</option>
							<option value="1">Language</option>
							<option value="2">Year</option>
							<option value="3">Movie Name</option>
							<option value="4">Category</option>
							<option value="5">Actor</option>
						</select>
					</div>
				</div>
				<div class="col-md-1">
				</div>
			</div>
	</div>
	
	<div style="">
		<div class="col-md-12 col-md-push-3" style="padding-top:20px;">
			<div class="col-md-4">
			</div>
			<div class="col-md-3">
				<button class="btn btn-lg btn-default btn-block"  type="button" ng-click="searchMovie()">Search</button>
			</div>
			<div class="col-md-5">
			</div>
		</div>
	</div>
	
	<div style="padding-top:160px; ; padding-bottom: 40px"">
		<div class="col-md-12" style="padding-left:30px; font-weight: bold; font-size: 20px">
			Top Rated Movies : 
		</div>
	</div>
	
	<div style="padding-top:40px; padding-bottom: 100px">
		<div class="col-md-12" style="padding-bottom: 100px">
			<div class="col-md-2" style="">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_toprated[0].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_toprated[0].moviefilepath}}" height="275" width="225"/>
			</div>
			<div class="col-md-2" style="">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_toprated[1].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_toprated[1].moviefilepath}}" height="275" width="225"/>
			</div>
			<div class="col-md-2" style="">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_toprated[2].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_toprated[2].moviefilepath}}" height="275" width="225"/>
			</div>
			<div class="col-md-2" style="">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_toprated[3].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_toprated[3].moviefilepath}}" height="275" width="225"/>
			</div>
			<div class="col-md-2" style="">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_toprated[4].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_toprated[4].moviefilepath}}" height="275" width="225"/>
			</div>
			<div class="col-md-2" style="">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_toprated[5].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_toprated[5].moviefilepath}}" height="275" width="225"/>
			</div>
		</div>
	
	</div>
	
	<div style="padding-top:40px; padding-bottom: 40px" ng-hide="movie_recentlywatched[0] == null">
		<div class="col-md-12" style="padding-left:30px; font-weight: bold; font-size: 20px; padding-bottom: 40px">
			Recently Watched Movies : 
		</div>
	</div>
	
	<div style="padding-top:40px;">
		<div class="col-md-12" style="padding-bottom: 100px">
			<div class="col-md-2" style="" ng-hide="movie_recentlywatched[0] == null">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_recentlywatched[0].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_recentlywatched[0].moviefilepath}}" height="275" width="225"/>
			</div>
			<div class="col-md-2" style="" ng-hide="movie_recentlywatched[1] == null">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_recentlywatched[1].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_recentlywatched[1].moviefilepath}}" height="275" width="225"/>
			</div>
			<div class="col-md-2" style="" ng-hide="movie_recentlywatched[2] == null">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_recentlywatched[2].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_recentlywatched[2].moviefilepath}}" height="275" width="225"/>
			</div>
			<div class="col-md-2" style="" ng-hide="movie_recentlywatched[3] == null">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_recentlywatched[3].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_recentlywatched[3].moviefilepath}}" height="275" width="225"/>
			</div>
			<div class="col-md-2" style="" ng-hide="movie_recentlywatched[4] == null">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_recentlywatched[4].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_recentlywatched[4].moviefilepath}}" height="275" width="225"/>
			</div>
			<div class="col-md-2" style="" ng-hide="movie_recentlywatched[5] == null">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_recentlywatched[5].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_recentlywatched[5].moviefilepath}}" height="275" width="225"/>
			</div>
		</div>
	
	</div>
	
	<div style="padding-top:40px; padding-bottom: 40px" ng-hide="movie_recommended[0] == null">
		<div class="col-md-12" style="padding-left:30px; font-weight: bold; font-size: 20px; padding-bottom: 40px">
			Friend's Recommended Movies : 
		</div>
	</div>
	
	<div style="padding-top:40px;">
		<div class="col-md-12" style="padding-bottom: 200px">
			<div class="col-md-2" style="" ng-hide="movie_recommended[0] == null">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_recommended[0].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_recommended[0].moviefilepath}}" height="275" width="225"/>
			</div>
			<div class="col-md-2" style="" ng-hide="movie_recommended[1] == null">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_recommended[1].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_recommended[1].moviefilepath}}" height="275" width="225"/>
			</div>
			<div class="col-md-2" style="" ng-hide="movie_recommended[2] == null">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_recommended[2].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_recommended[2].moviefilepath}}" height="275" width="225"/>
			</div>
			<div class="col-md-2" style="" ng-hide="movie_recommended[3] == null">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_recommended[3].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_recommended[3].moviefilepath}}" height="275" width="225"/>
			</div>
			<div class="col-md-2" style="" ng-hide="movie_recommended[4] == null">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_recommended[4].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_recommended[4].moviefilepath}}" height="275" width="225"/>
			</div>
			<div class="col-md-2" style="" ng-hide="movie_recommended[5] == null">
				<img class="featurette-image img-responsive center-block" ng-click="openMoviePage(movie_recommended[5].movieid)" style="height: 300px; padding: 10px 10px 10px 10px; border: 1px solid black;" ng-src="{{movie_recommended[5].moviefilepath}}" height="275" width="225"/>
			</div>
		</div>
	
	</div>

</div>

<div style="padding-top: 50px;" ng-include src="'footer.html'"></div>